<h1>Política de Privacidade</h1>
<p>Esta Política de Privacidade descreve como o [Nome do Seu Aplicativo] ("nós", "nosso" ou "nossos") coleta, utiliza e divulga suas informações quando você utiliza nosso aplicativo e serviços.</p>

<h2>Informações que Coletamos</h2>
<p>Quando você utiliza nosso aplicativo, podemos coletar as seguintes informações:

  Informações Pessoais: Quando você cria uma conta ou faz login usando o Facebook, podemos coletar informações como seu nome, endereço de e-mail, foto do perfil e outras informações fornecidas pelo Facebook.
  Informações de Uso: Podemos coletar informações sobre como você interage com nosso aplicativo, como as páginas que você visita, os recursos que você utiliza e as ações que você realiza.</p>

<h2>Como Utilizamos Suas Informações</h2>
<p>Podemos utilizar as informações que coletamos para os seguintes propósitos:

  Para fornecer e manter nossos serviços.
  Para personalizar sua experiência e melhorar nosso aplicativo.
  Para comunicar com você, incluindo o envio de mensagens relacionadas ao serviço e atualizações.
  Para analisar tendências de uso e entender como nosso aplicativo é utilizado.
  Para cumprir obrigações legais e fazer valer nossas políticas.</p>

<h2>Compartilhamento e Divulgação de Dados</h2>
<p>Podemos compartilhar suas informações com terceiros nas seguintes circunstâncias:

  Com seu consentimento: Podemos compartilhar suas informações com terceiros quando você nos dá consentimento para fazê-lo.
  Com provedores de serviços: Podemos compartilhar suas informações com prestadores de serviços terceirizados que nos ajudam a operar nosso aplicativo e fornecer nossos serviços.
  Por razões legais: Podemos compartilhar suas informações quando acreditamos que é necessário cumprir obrigações legais ou proteger nossos direitos.</p>

<h2>Suas Escolhas</h2>
<p>Você pode acessar e atualizar certas informações fazendo login nas configurações de sua conta. Você também pode ter a opção de controlar a coleta e o uso de certas informações por meio das configurações do seu dispositivo ou navegador.</p>

<h2>Instruções de exclusão de dados</h2>
<p>DESAFIOMXM é uma aplicação de login no Facebook e não guardamos os seus dados pessoais no nosso servidor. De acordo com a política do Facebook, devemos fornecer o URL do lembrete de exclusão de dados do usuário ou o URL da instrução de exclusão de dados.

  Se deseja apagar as suas atividades para a aplicação DESAFIOMXM, pode apagar as suas informações seguindo estes passos:

  Vá para as configurações da sua conta do Facebook e privacidade. Clique em "Configurações".
  Procure por "Aplicativos e sites" e você verá todos os aplicativos e sites que você vinculou ao seu Facebook.
  Procure e clique em "DESAFIOMXM" na barra de pesquisa.
  Role para baixo e clique em "Delete".
  Parabéns, você removeu com sucesso as atividades da sua inscrição.</p>

<h2>Entre em Contato</h2>
<p>Se você tiver alguma dúvida ou preocupação sobre nossa Política de Privacidade ou nossas práticas de dados, entre em contato conosco em <a href="mailto:contato&#64;exemplo.com">contato&#64;exemplo.com</a>.</p>

<h2>Alterações a esta Política de Privacidade</h2>
<p>Podemos atualizar nossa Política de Privacidade de tempos em tempos. Iremos notificá-lo sobre quaisquer alterações publicando a nova Política de Privacidade nesta página.

  Esta Política de Privacidade foi atualizada pela última vez em 18/04/2024.</p>
