
.header-container {
  width: 190px;
  height: 50px;
  border-radius: 6px;
}

.header-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
}

@media (max-width: 576px) {
  .header-container {
    margin-left: 8px;
  }
}
