.ask-title {
  font-size: 13px;
  margin: 0;
  padding: 0;
  color: gray;
}

.register-text {
  font-size: 13px;
  text-decoration: none;
  color: black;
}

.btn-socials {
  border: .5px solid rgb(224, 224, 224);
  border-radius: 4px;
  height: 40px;
  font-size: 12px;
  min-width: 216px;
  max-width: 400px;
  width: auto;
  color: #3c4043;
  font-weight: 500;
}
.btn-socials:hover {
  background-color: #f8faff;
  border-color: #d2e3fc;
}

.btn-socials img {
  width: 25px;
}

.btn-primary {
  width: 50%;
}

.input-group-text {
  cursor: pointer;
}
