.ask-title {
  font-size: 13px;
  margin: 0;
  padding: 0;
  color: gray;
}

.register-text {
  font-size: 13px;
  text-decoration: none;
  color: black;
}

.btn-socials {
  background-color: #F5F5F5;
  height: 55px;
  font-size: 12px;
  width: 100%;
}
.btn-socials:hover {
  background-color: #dbdbdb;
}

.btn-primary {
  width: 50%;
}

.input-group-text {
  cursor: pointer;
}

form {
  margin-top: 1.8rem !important;
}
