.ask-title {
  font-size: 13px;
  margin: 0;
  padding: 0;
  color: gray;
}

.register-text {
  font-size: 13px;
  text-decoration: none;
  color: black;
}

.btn-socials {
  background-color: #F5F5F5;
  height: 55px;
  font-size: 12px;
  width: 100%;
}
.btn-socials:hover {
  background-color: #dbdbdb;
}

.btn-primary {
  width: 50%;
}

.input-group-text {
  cursor: pointer;
}

.password-feedback {
  width: 40%;
  line-height: .9;
}

.terms-text {
  color: gray;
  font-size: 12px;
  position: absolute;
  bottom: 80px;
  width: 80%;
}

.register-text {
  font-size: 12px;
  text-decoration: underline;
  font-weight: 600;
}

form {
  margin-top: 1.8rem !important;
}

@media (max-width: 992px){
  .password-feedback {
    width: 80%;
  }
}
